= render "/header/header"

.contain
    .login-box 
        .registration-content  
            h1 
                | Welcome to DEV Community 👩‍💻👨‍💻
            .registration-description 
                p 
                    | DEV Community 👩‍💻👨‍💻 is a community of 968,547 amazing developers
