.contain
    .login-box 
        .registration-content  
            h1 
                | Welcome to DEV Community 👩‍💻👨‍💻
            .registration-description 
                p 
                    | DEV Community 👩‍💻👨‍💻 is a community of 968,547 amazing developers
        .registration-actions 
            .link-login-btn.apple
                =image_tag("/assets/apple-icon.svg")
                text Continue with Apple
            .link-login-btn.forem
                =image_tag("/assets/forem-icon.svg")
                text Continue with Forem
            .link-login-btn.github
                =image_tag("/assets/github-icon.svg")
                text Continue with Github
            .link-login-btn.twitter
                =image_tag("/assets/twitter-icon.svg")
                text Continue with Twitter
        
        .registration-actions-email
            .registration-hr
                span.registration-hr-label
                    | Have a password? Continue with your email address
            = form_with do |form|
                .input-field
                    = form.label :email , class: "label"
                    = form.text_field :email , class: "text-field"
                .input-field
                    = form.label :password, class: "label"
                    = form.password_field :password, class: "text-field"
                .check-box
                    = form.check_box :remember
                    = form.label :remember, "Remember me"
                .submit-login-btn
                    = form.submit "Continue"
            .forget-pass 
                =link_to
                    | I forgot my password

        
