<%- if is_post?(reactable) %>
  <%= link_to post_react_path(reactable), remote: true, method: :delete, class: "react-button", id: "like-#{reactable.id}", data: { "post-id": reactable.id } do%>
    <span class="liked">
      <img src="/assets/reacted.svg">
    </span>
    <p class="liked"><%= reactable.reacts_count%> Like</p>
  <%end%>
<%- else %>
  <%= link_to comment_react_path(reactable), remote: true, method: :delete, class: "react-button", id: "like-#{reactable.id}", data: { "comment-id": reactable.id } do%>
    <span class="liked">
      <img src="/assets/reacted.svg">
    </span>
    <p class="liked"><%= reactable.reacts_count%> Like</p>
  <%end%>
<% end %>
