<%=link_to post_react_path(post), remote: true, method: :post, class: "react-button", id: "like-#{post.id}", data: { "post-id": post.id } do %>
  <span>
    <img src="/assets/like.svg"/>
  </span>
  <p>Like</p>
<%end%>
