.header-container {
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 0.5rem;
  margin: auto;
  align-items: center;
  position: relative;
  width: 98%;
  box-sizing: border-box;
  max-width: 1280px;
}

.logo-search-bar {
  display: flex;
}

.search-bar {
  margin: 0 1rem;
  display: flex;
  max-width: 420px;
  max-height: 40px;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  outline: none;

  input {
    padding: 6.5px 8px;
    width: 100%;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    &:focus-visible {
      outline: none;
      border-color: var(--bg-hover);
      border-radius: 6px;
    }
  }
}

.search-logo {
  padding: 0 8px;
  position: absolute;
  right: 0;
}

.logo {
  max-width: 100%;
  width: auto;
  height: calc(var(--header-height) - 0.5rem * 2);
}

.log-in-out {
  display: flex;
}

.login-button {
  padding: 8px 16px;
  margin-right: 8px;
  width: fit-content;
  cursor: pointer;
  border-radius: 6px;

  color: inherit;
  text-decoration: none;

  &:hover {
    background-color: rgba(59, 73, 223, 0.1);
    color: var(--color-hover);
    text-decoration: underline;
  }
}

.sign-up-button {
  color: var(--bg-hover);
  border: 0.3px solid var(--bg-hover);
  align-items: center;
  display: flex;
  padding: 7px 15px;
  margin-right: 8px;
  width: fit-content;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: var(--bg-hover);
    color: white;
    text-decoration: underline;
  }
}

.rh__group_button {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.rh__group_button--right {
  height: 40px;
  width: 40px;
  padding: 4px;
  border-radius: 9999px;
  cursor: pointer;
  &:hover {
    background-color: rgba(49, 46, 129, 0.75);
    z-index: 1;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 9999px;
  }
}

.rh__dropdown {
  position: absolute;
  top: 100%;
  right: var(--su-2);
  left: auto;
  height: fit-content;
  width: fit-content;
  margin-top: 8px;
  padding: 8px;
  max-width: 360px;
  min-width: 250px;
  z-index: 400;
  border-radius: var(--radius);
  border: 0.3px solid rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  background-color: white;

  a {
    display: flex;
    text-decoration: none;
    color: black;
    width: 100%;
    max-width: 250px;
    padding: 8px 16px;
    line-height: 1.25;
    border-radius: var(--radius);
    flex-direction: column;
    &:hover {
      text-decoration: underline;
      background-color: var(--color-hover);
      color: white;
    }
  }
}
.rh__dropdown__line {
  width: 100%;
  margin: 8px 0;
  border: 0.1px solid rgba(0, 0, 0, 0.3);
  height: 0;
}

.header__email {
  font-size: 0.875rem;
  opacity: 0.75;
}
