// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.contain {
  background-color: var(--body-bg);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 8px;
}

.column-post {
  max-width: 1024px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post {
  padding: 20px;
  width: 100%;
  height: fit-content;
  background-color: white;
  border-radius: 5px;
}

.post-top {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  flex-direction: row;
  text-decoration: none;
  color: black;
}

.avatar {
  img {
    height: 32px;
    width: 32px;
  }
  margin-right: 8px;
  cursor: pointer;
}

.name {
  padding: 4px;
  font-size: 0.875rem;
  margin: -8px 0px -8px -4px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
    background-color: rgba(245, 245, 245);
  }
}

.date {
  font-size: 0.75rem;
  color: rgb(82, 82, 82);
  cursor: pointer;
  margin-top: 3px;
}
.post-main {
  padding-left: calc(var(--su-7) + var(--su-2));
}

.post-title {
  a {
    line-height: 1.25;
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 700;
  }
}

.post-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.post-bottom-interact {
  display: flex;
  font-size: 0.875rem;
  line-height: 1.25;
  gap: 10px;
}

.react-button {
  padding: 0.25rem 0.75rem;
  margin-left: -0.75rem;
  border-radius: 0.375rem;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  display: flex;
  gap: 10px;
  align-items: center;
  box-sizing: content-box;
}
