.left__container {
  padding: 0 20px;
  min-width: 400px;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 26px;
  }

  @media (max-width: 960px) {
    width: 100%;
    max-width: none;
    min-width: 0;
    margin-bottom: 15px;
  }
}

.filter__row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.filter__column {
  @extend .filter__row;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}
.filter__link {
  a {
    width: 100%;
    max-width: 200px;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    color: black;
    &:hover {
      background-color: rgba(49, 46, 129, 0.8);
      color: white;
    }
  }
}

.filter__noti--active {
  background-color: rgba(49, 46, 129, 0.8);
  color: white;
}

.filter__btn {
  margin-right: 10px;
  border: 0.2px solid black;
  color: black;
  background-color: transparent;
  padding: 3px 6px;
  border-radius: var(--radius);
  text-decoration: none;
  text-align: center;
  max-width: 400px;
  @media (max-width: 960px) {
    max-width: none;
  }
  &:hover {
    background-color: black;
    color: white;
  }
  &--type {
    @extend .filter__btn;
    margin-top: 10px;
    margin-right: 0;
    width: 100%;
  }
}

.filter--active {
  background-color: black;
  color: white;
}
