.left__container {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;

  @media (max-width: 960px) {
    width: 100%;
    max-width: none;
    min-width: 0;
    margin-bottom: 15px;
  }
}

.right__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.top__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid__container {
  margin-top: 20px;
  display: grid;
  grid-template-areas:
    "top top top"
    "left right right"
    "left right right";
  grid-template-columns: 300px 1fr;
  grid-template-rows: 50px auto;
  grid-gap: 20px;

  @media (max-width: 720px) {
    display: flex;
    flex-direction: column;
  }
}
.item--top {
  grid-area: top;
}
.item--left {
  grid-area: left;
}

.item--right {
  grid-area: right;
}

.filter__row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.filter__column {
  @extend .filter__row;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}
.filter__link {
  a {
    width: 100%;
    max-width: 200px;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    color: black;
    &:hover {
      background-color: rgba(49, 46, 129, 0.8);
      color: white;
    }
  }
}

.filter__noti--active {
  background-color: rgba(49, 46, 129, 0.8);
  color: white;
}

.filter__btn {
  margin-right: 10px;
  border: 0.2px solid black;
  color: black;
  background-color: transparent;
  padding: 3px 6px;
  border-radius: var(--radius);
  text-decoration: none;
  text-align: center;
  max-width: 400px;
  @media (max-width: 960px) {
    max-width: none;
  }
  &:hover {
    background-color: black;
    color: white;
  }
  &--type {
    @extend .filter__btn;
    margin-top: 10px;
    margin-right: 0;
    width: 100%;
  }
}

.filter--active {
  background-color: black;
  color: white;
}

.topic__span {
  span {
    color: #6610f2;
  }
}
